<div class="legend">
  <h3>Color Map</h3>
  <div class="clinton legend-label col-xs-6 col-sm-2">
    <p class="legend-text">Clinton</p>
  </div>
  <div class="sanders legend-label col-xs-6 col-sm-2">
    <p class="legend-text">Sanders</p>
  </div>
  <div class="cruz legend-label col-xs-6 col-sm-2">
    <p class="legend-text">Cruz</p>
  </div>
  <div class="kasich legend-label col-xs-6 col-sm-2">
    <p class="legend-text">Kasich</p>
  </div>
  <div class="rubio legend-label col-xs-6 col-sm-2">
    <p class="legend-text">Rubio</p>
  </div>
  <div class="trump legend-label col-xs-6 col-sm-2">
    <p class="legend-text">Trump</p>
  </div>
</div>