<h3>Candidate Color Map</h3>
<div class="legend-label col-xs-6 col-sm-2" style="background:#B47EE6">
	<p class="legend-text">Clinton</p>
</div>
<div class="legend-label col-xs-6 col-sm-2" style="background:#FF8A5E">
	<p class="legend-text">Sanders</p>
</div>
<div class="legend-label col-xs-6 col-sm-2" style="background:red">
	<p class="legend-text">Cruz</p>
</div>
<div class="legend-label col-xs-6 col-sm-2" style="background:yellow">
	<p class="legend-text">Kasich</p>
</div>
<div class="legend-label col-xs-6 col-sm-2" style="background:green">
	<p class="legend-text">Rubio</p>
</div>
<div class="legend-label col-xs-6 col-sm-2" style="background:blue">
	<p class="legend-text">Trump</p>
</div>