<div class="table-responsive">
	<table class="table" id="dem_candidates">
		<caption style="color:blue">Democrats</caption>
		<tr>
		    <th>Candidate</th>
		    <th>%</th>
		    <th>Votes</th>
		    <th>Delegates</th>
	  	</tr>
	  	<tr id="clinton">
		    <td>Hillary Clinton</td>
		    <td class="percentage">25</td>
		    <td class="votes">100,000</td>
		    <td class="delegates">100</td>
	  	</tr>
	  	<tr id="sanders">
	    	<td>Bernie Sanders</td>
	    	<td class="percentage">25</td>
		    <td class="votes">100,000</td>
		    <td class="delegates">100</td>
	  	</tr>
	</table>
</div>
<div class="table-responsive">
	<table class="table" id="rep_candidates">
		<caption style="color:red">Republicans</caption>
		<tr>
		    <th>Candidate</th>
		    <th>%</th>
		    <th>Votes</th>
		    <th>Delegates</th>
	  	</tr>
	  	<tr id="cruz">
		    <td>Ted Cruz</td>
		    <td class="percentage">25</td>
		    <td class="votes">100,000</td>
		    <td class="delegates">100</td>
	  	</tr>
	  	<tr id="kasich">
		    <td>John Kasich</td>
		    <td class="percentage">25</td>
		    <td class="votes">100,000</td>
		    <td class="delegates">100</td>
	  	</tr>
	  	<tr id="rubio">
		    <td>Marco Rubio</td>
		    <td class="percentage">25</td>
		    <td class="votes">100,000</td>
		    <td class="delegates">100</td>
	  	</tr>
	  	<tr id="trump">
		    <td>Donald J. Trump</td>
		    <td class="percentage">25</td>
		    <td class="votes">100,000</td>
		    <td class="delegates">100</td>
	  	</tr>
	</table>
</div>