<div class="table-responsive col-sm-12 col-md-6">
	<table class="table" id="rep_candidates">
		<caption style="color:red">Republicans</caption>
		<tr>
		    <th>Candidate</th>
		    <th>State %</th>
		    <th>State Votes</th>
		    <th>State Delegates</th>
	  	</tr>
	  	<tr id="cruz">
		    <td>Ted Cruz</td>
		    <td class="percentage_total_votes">No results yet!</td>
		    <td class="votes">No results yet!</td>
		    <td class="total_delegates">No results yet!</td>
	  	</tr>
	  	<tr id="kasich">
		    <td>John Kasich</td>
		    <td class="percentage_total_votes">No results yet!</td>
		    <td class="votes">No results yet!</td>
		    <td class="total_delegates">No results yet!</td>
	  	</tr>
	  	<tr id="rubio">
		    <td>Marco Rubio</td>
		    <td class="percentage_total_votes">No results yet!</td>
		    <td class="votes">No results yet!</td>
		    <td class="total_delegates">No results yet!</td>
	  	</tr>
	  	<tr id="trump">
		    <td>Donald J. Trump</td>
		    <td class="percentage_total_votes">No results yet!</td>
		    <td class="votes">No results yet!</td>
		    <td class="total_delegates">No results yet!</td>
	  	</tr>
	</table>
</div>
<div class="table-responsive col-sm-12 col-md-6">
	<table class="table" id="dem_candidates">
		<caption style="color:blue">Democrats</caption>
		<tr>
		    <th>Candidate</th>
		    <th>State %</th>
		    <th>State Votes</th>
		    <th>State Delegates</th>
	  	</tr>
	  	<tr id="clinton">
		    <td>Hillary Clinton</td>
		    <td class="percentage_total_votes">No results yet!</td>
		    <td class="votes">No results yet!</td>
		    <td class="total_delegates">No results yet!</td>
	  	</tr>
	  	<tr id="sanders">
	    	<td>Bernie Sanders</td>
	    	<td class="percentage_total_votes">No results yet!</td>
		    <td class="votes">No results yet!</td>
		    <td class="total_delegates">No results yet!</td>
	  	</tr>
	</table>
</div>