<div class="table-responsive">
	<table class="table">
		<caption style="color:blue">Democrats</caption>
		<tr>
		    <th>Candidate</th>
		    <th>%</th>
		    <th>Votes</th>
		    <th>Delegates</th>
	  	</tr>
	  	<tr>
		    <td>Hillary Clinton</td>
		    <td>25</td>
		    <td>100,000</td>
		    <td>100</td>
	  	</tr>
	  	<tr>
	    	<td>Bernie Sanders</td>
	    	<td>75</td>
	    	<td>100,005</td>
	    	<td>25</td>
	  	</tr>
	</table>
</div>
<div class="table-responsive">
	<table class="table">
		<caption style="color:red">Republicans</caption>
		<tr>
		    <th>Candidate</th>
		    <th>%</th>
		    <th>Votes</th>
		    <th>Delegates</th>
	  	</tr>
	  	<tr>
		    <td>Ted Cruz</td>
		    <td>25</td>
		    <td>100,000</td>
		    <td>10</td>
	  	</tr>
	  	<tr>
		    <td>John Kasich</td>
		    <td>25</td>
		    <td>100,000</td>
		    <td>0</td>
	  	</tr>
	  	<tr>
		    <td>Marco Rubio</td>
		    <td>25</td>
		    <td>100,000</td>
		    <td>5</td>
	  	</tr>
	  	<tr>
		    <td>Donald J. Trump</td>
		    <td>25</td>
		    <td>1,500,000</td>
		    <td>100</td>
	  	</tr>
	</table>
</div>