html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  border-top: 6px solid #CC3333; 
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-color: #FFFFFF;
}
.content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.data-wrapper, .data-error {
  padding: 15px;
}
.party-wrapper, .legend-wrapper, .pie-charts-wrapper, .vot-bar-charts-wrapper, .del-bar-charts-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

td {
  background: #FFFFFF;
}

/*
  candidate styling
*/
.clinton { background: #6464FF; }
.sanders { background: #C8C8FF; }
.cruz { background: #FFD2D2; }
.kasich { background: #FF8C8C; }
.rubio { background: #FF4646; }
.trump { background: #FF0000; }
.democrat, .democrat:hover { color: #1975D1; }
.republican, .republican:hover { color: #CC3333; }

/*
  us states chart styling:
*/
.background {
  fill: none;
  pointer-events: all;
}
.state {
  fill: #CCCCCC;
  cursor: pointer;
}
.state.active {
  fill: #CC3333 !important;
}
.state:hover {
  fill: #1975D1;
}
.mesh {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* 
  bar chart styling
*/
.bar:hover {
  opacity: 50%;
}
.axis text {
  font-size: 12px;
}
.axis path, .axis line {
  fill: none;
  stroke: #333333;
  shape-rendering: crispEdges;
}

/*
  tooltip styling
*/
.tooltip {
  line-height: 1;
  font-weight: 400;
  padding: 5px;
  background: #CC3333; 
  color: #FFFFFF;
  border-radius: 2px;
}

/*
  legend styling
*/
.legend-label {
  height: 22px;
}
.legend-text {
  font-weight: bold;
}

/*
 footer styling
*/
.panel-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
}
.copyright {
  margin: 10px 0;
}