html {
  position: relative;
  min-height: 100%;
}
body {
  border-top: 6px solid red; /* change this */
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-color: #FFFFFF;
}
.content {
  padding-top: 10px;
  padding-bottom: 10px;
}
a, a:hover {
 color: blue; /* change this */
}
.data-wrapper, .data-error {
  padding: 15px;
}
.tables-wrapper, .pie-charts-wrapper, .bar-charts-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
td {
  background: white;
}

/*
  candidate styling
*/
.clinton { background: #B47EE6; }
.sanders { background: #FFFF44; }
.cruz { background: #63D9F6; }
.kasich { background: #FF7745; }
.rubio { background: #80C157; }
.trump { background: #FF5D5D; }


/*
  us states chart styling:
*/
.background {
  fill: none;
  pointer-events: all;
}
.state {
  fill: #CCCCCC;
  cursor: pointer;
}
.state.active {
  fill: red !important;
}
.state:hover {
  fill: blue;
}
.mesh {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* 
  bar chart styling
*/
.bar:hover {
  opacity: 50%;
}
.axis text {
  font: 11px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

/*
  legend styling
*/
.legend-label {
  height: 22px;
}
.legend-text {
  font-weight: bold;
}


/*
 footer styling
*/
.panel-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
}
.copyright {
  margin: 10px 0;
}