html {
  position: relative;
  min-height: 100%;
}
body {
  border-top: 6px solid red; /* change this */
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-color: #FFFFFF;
}
.content {
  padding-top: 10px;
  padding-bottom: 10px;
}
a, a:hover {
 color: #FF69B4; /* change this */
}
.data-wrapper, .data-error {
  padding: 15px;
}

/*
  US map block styling: http://bl.ocks.org/mbostock/4699541
*/
.background {
  fill: none;
  pointer-events: all;
}
.state {
  fill: #CCCCCC;
  cursor: pointer;
}
.state.active {
  fill: red !important;
}
.state:hover {
  fill: blue;
}
.mesh {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/*
 Footer styling
*/
.panel-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
}
.footer-text {
  margin: 10px 0;
}

/*
Tooltip Styling
*/

.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 100, 0.8);
  color: #fff;
  border-radius: 2px;
}

/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 50%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}*/