html {
  position: relative;
  min-height: 100%;
}
body {
  border-top: 6px solid red; /* change this */
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  background-color: #FFFFFF;
}
.content {
  padding-top: 10px;
  padding-bottom: 10px;
}
a, a:hover {
 color: blue; /* change this */
}
.data-wrapper, .data-error {
  padding: 15px;
}

/*
  us states chart styling:
*/
.background {
  fill: none;
  pointer-events: all;
}
.state {
  fill: #CCCCCC;
  cursor: pointer;
}
.state.active {
  fill: red !important;
}
.state:hover {
  fill: blue;
}
.mesh {
  fill: none;
  stroke: #FFFFFF;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* 
  bar chart styling
*/
.bar:hover {
    fill: brown;
}
.axis text {
  font: 11px sans-serif;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

/*
 Footer styling
*/
.panel-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 80px;
}
.copyright {
  margin: 10px 0;
}